html {
  box-sizing: border-box;
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-color: #f5f5f5ff;
  --text-color: #111111;
  --bg-header-color: #d8d8d8;
  --bnt-color: rgb(216, 216, 216);
  --bnt-color-hover: rgb(200, 200, 200);

  --board-bg: #ffffff;
  --board-border: #cccccc;
  --snake-color: lightgreen;
  --snake-border: black;
  --food-color: red;
}

:root[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: rgb(230, 230, 230);
  --bg-header-color: #303030;
  --bnt-color: rgb(48, 48, 48);
  --bnt-color-hover: rgb(55, 55, 55);

  --board-bg: #222222;
  --board-border: #3d3d3d;
  --snake-color: #4caf50;
  --snake-border: #000000;
  --food-color: #ff5722;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-header-color);
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

#gameBoard {
  border: 0.25rem solid var(--board-border);
  background-color: var(--board-bg);
  align-self: center;
  display: block;
  margin: 0rem auto;
  max-width: 100%;
  /* width: 800px;
  height: 800px; */
}

#scoreText {
  font-size: 3rem;
}

/* #resetBtn {
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
  border: 0.25rem solid;
  border-radius: 1.5rem;
  cursor: pointer;
} */

/* #themeToggle {
  font-size: 3rem;
  width: 10rem;
  height: 5rem;
  border: 0.25rem solid;
  border-radius: 1.5rem;
  cursor: pointer;
} */

button {
  color: var(--text-color);
  /* background: none; */
  background-color: var(--bnt-color);
  font-size: 2rem;
  width: 8rem;
  height: 4rem;
  border: 0rem solid;
  border-radius: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--bnt-color-hover);
}
